body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #95C8D8;
    justify-content: center;
    padding: 50px;
    display: flex;
    height: 100vh;
    margin: 0;
    background-image: url("New\ York\ Central\ park.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 
 button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;

    background-color: #a2c0b1;
    color: white;
    font-size: 16px;
    cursor: url("my pictuer that I will draw trust"), auto;
    transition: 0.3s;
}

button:hover {
    background-color: #728C69;
    transform: scale(1.03);
    transition:all 0.3s ease;
    cursor: url("another picture I will most definatly draw"), auto;
}
.game {
    background: rgb(187, 215, 239);
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px #234F1E(0,0,0,0.1);
}
#story {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.4;
}
body {
    transition: background-color 0.5s ease;
}
.game {
    transition: all 0.4s ease;
}
.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.fade.show {
    opacity: 1;

}
#meter {
    width: 100%;
    height: 20px;
    background: gray;
    border-radius: 10px;
}
#meter-fill {
    width: 50%;
    height: 100%;
    background: gree;
    border-radius: 10px;
}
.shake {
    animation: shake 0.4s;
}
@keyframes shake {
    0% { transform: translateX(-4px);}
    50% { transform: translateX(4px);}
    100% { transform: translateX(0);}
}
.meter {
    width: 100%;
    height: 20px;
    background: #ddc9c8;
    border-radius: 8px;
    overflow: hidden;
}

#energyFill {
    height: 100%;
    transition: width 0.3s ease;
}
#pollutionFill {
    background:#902922;
    width: 0%;
    height: 100%;
    transition: width 0.5s ease;
}
#energyFill {
    background: #a3dba7;
}
.bar {
    margin-bottom: 15px;
}
.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.fade.show {
    opacity: 1;
}